Xin chào <%=FullName%>,<br/><br/>
Thông bảo này được gửi đến vì bạn đã quên mật khẩu đăng nhập vào hệ thống của Ekid-pro.<br/>
Vui lòng nhập mật khẩu mới: <b><%=NewPassword%></b> để tiếp tục trải nghiệm dịch vụ cùng chúng tôi.<br/>
<a href="http://localhost:4200/login">http://ekid-pro.vn/dang-nhap</a><br/><br/>
Trân trọng,<br/>
Hi Ekid Team